/* breadcrumb buttons */
.wy-breadcrumbs li a:first-child {
  padding-left: 5px;
}

/* sidenav promotion */
.promotion-sidebar {
  display: block !important;
  padding: 0.5em;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #0a0a0a;
  font-size: 14px;
  line-height: 20px;
}
.promotion-sidebar a,
.promotion-sidebar a:visited,
.promotion-sidebar a:hover,
.promotion-sidebar a:active {
  color: #efefef;
  text-decoration: none !important;
  border-bottom: 0 !important;
}
.promotion-sidebar {
  text-align: center;
}
.wy-nav-side .promotion-rtd {
  width: 300px;
  padding: 0 1em;
}
.promotion-rtd .promotion-sidebar {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 20px;
}

/* feedback form */
.rst-content .feedback {
  background-color: #e3e3e3;
  color: #404040;
  margin-top: 15px;
}

.rst-content .feedback .admonition-title {
  background-color: #4e4a4a;
}

.rst-content .feedback > div > form > fieldset {
  max-width: 100%;
}

.rst-content .feedback li.hs-form-radio:first-child {
  width: 50px;
  float: left;
}

.rst-content .feedback input[type=email].hs-input {
  width:90%;
}

.rst-content .feedback .hs-button {
  background-color: #424242;
  padding: 10px 30px;
  border: 0;
  color: #fff;
  margin-top: 5px;
}

/* versions dropdown */
.select-style {
  border: 1px solid #616161;
  border-radius: 3px;
  margin: 7px 2px;
  overflow: hidden;
  background: #424242 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#eeeeee' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'>%3C/polyline%3E%3C/svg%3E") no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  color: #ffffff;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* code styles */
pre.literal-block {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    padding: 12px 12px !important;
    font-size: 12px;
}

/* override table width restrictions */
@media screen and (max-width: 768px) {
  img {
    width: auto;
    height: auto;
  }
}

/* tippy.js */
.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow{border-top:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow{border-bottom:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow{border-left:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow{border-right:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-tooltip.light-theme{color:#26323d;box-shadow:0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);background-color:#fff}.tippy-tooltip.light-theme .tippy-backdrop{background-color:#fff}.tippy-tooltip.light-theme .tippy-roundarrow{fill:#fff}.tippy-tooltip.light-theme[data-animatefill]{background-color:transparent}
